
$font1: 'Lato', sans-serif;
// $font1:'Baloo Chettan 2', cursive;
$font2:'Montserrat', sans-serif;

$textColor: #373535;
$sucessColor:#64bcbe;
$dangerColor:#f7444f;
$warningColor:#fdbe3d;

$primaryColor:#ee3c80;
$secondaryColor: #78bdc4;

$sidebarWidth:250px;
$headerHeight: 52px;
$footerHeight:369px;
