<h1 class="section-header">
    Manage Calendar
</h1>


<div class="WrapperCard">

    <h4 class="d-flex flex-wrap justify-content-between">
        Appointment slots

        <div class="filters">
            <a class="btn btn-primary mr-2" [routerLink]="['/appointment/calendar']">
                <span><i class="fa fa-calendar mr-2"></i>Calendar</span>
            </a>

            <!-- <button class="btn btn-primary" (click)="addEvent()">
                Add new
            </button> -->

            <select class="form-control" (change)="status($event)">
                <option value="">All</option>
                <option value="true">Booked</option>
                <option value="false">Not Booked</option>
            </select>
        </div>
    </h4>

    <div class="table-responsive">
        <table class="table table-striped table-hover appointment-action-table table-bordered">
            <thead>
                <tr>
                    <th class="title">Title</th>
                    <th class="start-at">
                        Date
                    </th>
                    <th>Schedule Type</th>
                    <!-- <th>Status</th> -->
                    <th class="action" style="min-width: 170px;">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    *ngFor="let event of events | paginate: { itemsPerPage: filters?.count, currentPage: filters?.page,  totalItems:filters?.total }">
                    <td class="text-capitalize">
                        {{event.title}}
                    </td>
                    <td>
                        {{event.start | date:'medium'}}
                    </td>

                    <td>
                        {{event.scheduleType | titlecase}}
                    </td>

                    <!-- <td *ngIf="event.status!='rejected'" class="text-capitalize">{{ event.status && event.isBooked ?
                            event.status:'No Booked' |
                            titlecase}}</td> -->


                    <td class="actiontd">
                        <button title="Edit" class="btn btn-primary" *ngIf="!event.isBooked" (click)="editEvent(event)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button title="Delete" class="btn btn-danger" *ngIf="!event.isBooked"
                            (click)="remove(event.id)">
                            <i class="fa fa-trash"></i>
                        </button>

                        <button title="View" class="btn btn-primary" *ngIf="event.isBooked"
                            (click)="viewAppointment(event.appointmentId)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <!-- <button type="submit" class="btn btn-success" *ngIf="event.isBooked" (click)="changeStatus('accepted', event.id)">Accept</button>
                            <button type="submit" class="btn btn-danger" *ngIf="event.isBooked" (click)="changeStatus('rejected', event.id)">Reject</button> -->
                    </td>
                </tr>

                <tr *ngIf="filters.total == 0">
                    <th class="text-center" colspan="4">No Slot</th>
                </tr>
            </tbody>
        </table>

        <div>
            <button class="btn btn-primary" (click)="addEvent()">
                <i class="fa fa-plus"></i> Add New Slot
            </button>
        </div>
    </div>

    <div class="paginationWrapper text-right" *ngIf="filters.total>filters.count">
        <pagination-controls (pageChange)="filters.page = $event;pageChanged();"></pagination-controls>
    </div>
</div>


<!-- Modal -->
<div class="modal fade show d-block" *ngIf="addEditModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{addSloteForm.value.id?"Edit":"Add"}} Slot</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" [formGroup]="addSloteForm" (ngSubmit)="onSubmitSlote()">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Title</label>
                            <input type="text" class="form-control"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="50" formControlName="title" />
                            <div *ngIf="isSubmitted && fTicket.title.invalid" class="text-danger">
                                <div *ngIf="fTicket.title.errors && fTicket.title.errors.required">
                                    Title is required.</div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label>Visit Type</label>
                            <select formControlName="scheduleType" required="" class="form-control">
                                <option value="" disabled>Select Visit Type</option>
                                <option value="In-person"
                                    *ngIf="user?.visitType == 'In-person' || user?.visitType == 'Both'">In-person
                                </option>
                                <option value="Virtual"
                                    *ngIf="user?.visitType == 'Virtual' || user?.visitType == 'Both'">Virtual</option>
                            </select>
                            <div *ngIf="isSubmitted && fTicket.scheduleType.invalid" class="text-danger">
                                <div *ngIf="fTicket.scheduleType.errors && fTicket.scheduleType.errors.required">
                                    Visit Type is required.</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-row">

                                <div class="col-6">
                                    <label>Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="YYYY/MM/DD" readonly name="d2"
                                                formControlName="start" [minDate]="bdpminDate" ngbDatepicker
                                                #d2="ngbDatepicker" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary fa fa-calendar"
                                                    (click)="d2.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <input type="text" #start="bsDatepicker" placeholder="MM/DD/YYYY"
                                        [minDate]="bdpminDate" bsDatepicker readonly class="form-control"
                                        formControlName="start" required /> -->

                                    <div *ngIf="isSubmitted && fTicket.start.invalid" class="text-danger">
                                        <div *ngIf="fTicket.start.errors && fTicket.start.errors.required">
                                            Date is required.</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label>Time</label>
                                    <input type="time" formControlName="starttime" class="form-control" required />
                                    <div *ngIf="isSubmitted && fTicket.starttime.invalid" class="text-danger">
                                        <div *ngIf="fTicket.starttime.errors && fTicket.starttime.errors.required">
                                            Time is required.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                    <!-- <button type="submit" class="btn btn-primary"
              [disabled]="startDateLimitCross|| dateLimitCross || expDateLimitCross ">Save</button> -->

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" [ngClass]="{'d-block': viewModal}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Appointment</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>Booking Id</label>
                        <p class="text">{{appointmentDetail?.bookingId}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Appointment Type</label>
                        <p class="text">{{appointmentDetail?.appointmentType | titlecase}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Doctor Before</label>
                        <p class="text">{{appointmentDetail?.doctorBefore | titlecase}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Who is Patient?</label>
                        <p class="text">{{appointmentDetail?.patientType | titlecase}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Patient's Name</label>
                        <p class="text">{{appointmentDetail?.patientDetail?.fullName | titlecase}}</p>
                    </div>

                    <div class="col-md-6 mb-3" *ngIf="appointmentDetail?.patientDetail?.email">
                        <label>Patient's Email</label>
                        <p class="text">{{appointmentDetail?.patientDetail?.email}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Phone Number</label>
                        <p class="text">{{appointmentDetail?.mobileNo}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Visit Reason</label>
                        <p class="text">{{appointmentDetail?.visitType | titlecase}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Status</label>
                        <p class="text">{{appointmentDetail?.status | titlecase}}</p>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Schedule Date</label>
                        <p class="text">{{appointmentDetail?.start | date:'medium'}}</p>
                    </div>

                    <div class="col-md-12 mb-3" *ngIf="appointmentDetail?.description">
                        <label>Description</label>
                        <p class="text">{{appointmentDetail?.description}}</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" *ngIf="appointmentDetail?.status=='pending'" class="btn btn-success"
                    (click)="changeStatus('accepted')">Accept</button>
                <button type="submit" *ngIf="appointmentDetail?.status=='pending'" class="btn btn-danger"
                    (click)="changeStatus('rejected')">Reject</button>
                <button type="submit" *ngIf="appointmentDetail?.status=='accepted'" class="btn btn-primary"
                    (click)="completeMark()">Mark as Completed</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" [ngClass]="{'d-block': rejectModal}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject Appointment</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <label class="isRequired">Reason</label>
                        <textarea class="form-control" [(ngModel)]="description"></textarea>

                        <div *ngIf="isSubmitted && description==''" class="text-danger">
                            Reason is required.
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="rejectSubmit()">Reject</button>
            </div>

        </div>
    </div>
</div>