<ngx-spinner bdColor="#fff" size="" color="#fff">
  <img src="assets/img/loader.gif" class="loaderLogo" width="100" />
</ngx-spinner>

<main>
  <section class="container">
    <!-- login -->
    <div class="login mtcls">

      <div class="text-center">
        <img class="admin-logo" src="assets/img/logo.png">
        <strong>Change Password</strong>
      </div>
      

      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form">
            <div class="form-row">
              <div class="col-md-12 mb-2">

              <div class="input_wrapper">
                <input [type]="passwordType3 ? 'text' : 'password'" placeholder="Current Password *" formControlName="currentPassword" class="form-text"
                [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"
                maxlength="20"
                >
                <i class="fa" [ngClass]="{'fa-eye-slash': !passwordType3,'fa-eye': passwordType3}" (click)="passwordType3 = !passwordType3"></i>
              </div>
              
              <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                <div *ngIf="f.currentPassword.errors.minlength">Minimum length of password is 9</div>

                
              </div>
              </div>

              <div class="col-md-12 mb-2">
                <div class="input_wrapper">
                  <input [type]="passwordType ? 'text' : 'password'" id="password" placeholder="New Password *" formControlName="newPassword" class="form-text"
                  [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                  maxlength="20">
                  <i class="fa" [ngClass]="{'fa-eye-slash': !passwordType,'fa-eye': passwordType}" (click)="togglePassword()"></i>
                </div>
                
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                  <div *ngIf="f.newPassword.errors.minlength">Minimum length of password is 9</div>
                </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="input_wrapper">
                    <input [type]="passwordType2 ? 'text' : 'password'" placeholder="Confim Password *" formControlName="confirmPassword" class="form-text"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    maxlength="20">
                    <i class="fa" [ngClass]="{'fa-eye-slash': !passwordType2,'fa-eye': passwordType2}" (click)="passwordType2 = !passwordType2"></i>
                  </div>
                  
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password</div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Minimum length of password is 9</div>
                  </div>
                  </div>

                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-secondary mr-2" (click)="back()">Back</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
            </div>
           
            
            <!-- <div class="form-row button-login">
              <button class="btn btn-login">Send</button>
            </div> -->

            
          </div>
        </fieldset>
      </form>
    </div>


  </section>
</main>
