.sign-up__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.someoneLink{
  cursor: pointer;
}

  .sign-up__content {
    width: 578px;
  display: block;
  margin: auto;
  padding-top: 5rem;
  }
  main.sign-up {
    background: #F3F3F4;
    padding-bottom: 2rem;
  }
  
  h1.sign-up__title {
    font-size: 28px;
    font-weight: 600;
  }
 
  .form-control {
    border-radius: 0px;
    height: auto;
  }
 
  ul.PasswordRules {
    padding: 0px 22px;
  }
  .form__row.sign-up__sign {
    font-size: 15px;
    font-weight: 500;
  }
  button#sign-up-button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 20px;
  }

  .radio_lists{
    > *{
      text-transform: capitalize;
      display: block;
    }
  }