<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6 mb-3">
        <img class="w-100 hgt" src="/assets/img/doctors.webp">
    </div>
    <div class="col-md-6 mb-3">
      <h2>{{data?.title | titlecase}}</h2>
      <p class="descriptions" [innerHTML]="data?.description"></p>
    </div>
  </div>
</div>

<div class="container">
  <h2>OUR AWARDS</h2>
  <h4>Through the years</h4>
  <div class="row">
    <div class="col-md-3">
      <img
        src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d69c5d21-52b9-465e-825b-7b900d8a1e1b--Mumento-10.png?312027">
    </div>
    <div class="col-md-3">
      <img
        src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-efcf5f90-162f-4925-8f8a-962727607ab6--Mumento-11.png?312029">
    </div>
    <div class="col-md-3">
      <img
        src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d69c5d21-52b9-465e-825b-7b900d8a1e1b--Mumento-10.png?312027">
    </div>
    <div class="col-md-3">
      <img
        src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-f88237bb-6fcd-4552-a835-c97b530d2275--Mumento-14.png?312035">
    </div>
  </div>
</div>